.breadcrumb {
    padding: .1em 0em .1em;
    font-size: 0.938em;
    letter-spacing: 0.1em;
    margin: 0px auto 25px;
    @include screen('mobile') {
        display: none;
    } 
    ul {
        @include li-reset;
        li {
            display: inline-block;
            margin: 0px .1em .1em 0px;
            &:before {
                @extend %slash;
            }
            &:first-child:before {
                content: "現在位置 :";
                display: inline-block;
                color: #666;
                margin-left: 0;
                padding: 0;
            }
        }
    }
    a {
        @include aSetting_nocolor;
    }
}