.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px 3px 3px 0px;
            display: block;
            float: left;
        }
    }
    a {
        @include gradient(#8b3b88, #b157ae, horizontal);
        border: 1px solid #b157ae;
        padding: .4em 1em;
        display: block;
        color: #fff;
        @include box-sizing();
        border-radius:4px;
        &:hover,
        &:focus {
            color: #FFF;
            @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), horizontal);
            border: 1px solid #8b3b88;
            box-shadow: none;
        }
        &.active {
            color: #FFF;
            @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), horizontal);
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}