.fatfooter {
  @include make-fatfooter($fatfooter-length, 100%);
  @extend %clearfix;
  overflow: hidden;
  padding-bottom: 1em;
  margin: 0 auto;
  background: $fatfooterBgColor;
  @include screen('mobile') {
    display: none;
  }
  .container {
    overflow: hidden;
    @include box-sizing;
    padding: 45px;
  }
  // 按鈕
  .btn-fatfooter {
    font-size: .813em;
    display: block;
    min-width: 6em;
    color: #FFF;
    border: none;
    background: #781F79;
    position: absolute;
    right: 1%;
    top: 10px;
    z-index: 90;
    text-indent: -9999px;
    @include border-radius(2px);
    &:before {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      border: 2px solid #FFF;
      border-left: none;
      border-bottom: none;
      transform: rotate(-45deg);
      left: 50%;
      top: 12px;
      margin-left: -6px;
      transition: .3s ease-out;
    }
    &:hover,
    &:focus {
      background: darken($aHover, 10);
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      border: none;
      box-shadow: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
    &.close {
      &:before {
        transform: rotate(135deg) !important;
        top: 5px;
      }
    }
  }
  nav {
    overflow: hidden;
    display: block;
    position: relative;
    // padding: 3em 0 0 2em;
    @include box-sizing;
    // @include screen('mobile') {
    //     padding: 1em 0;
    // }
    ul {
      @include li-reset;
      @include screen('mobile') {
        width: 100%;
        display: block;
        margin: 0px auto;
      }
      li {
        display: inline-block;
        text-align: left;
        vertical-align: top;
        margin: 0 -5px 1em 0;
        padding-right: 2%;
        font-size: 1em;
        @include box-sizing;
        @include screen('mobile') {
          display: block;
          margin: 0 0 .4em
        }
        a {
          line-height: 1.5;
          display: block;
          // font-weight: bold;
          padding: .5em 0px;
          color: #fff;
          @include box-sizing;
          &:hover,
          &:focus {
            // box-shadow: none;
            color: $lightColor;
          }
          .en_title {
            font-size: .875rem;
            display: block;
            line-height: 120%;
          }
        }
        ul {
          margin-top: 5px;
          @include screen('mobile') {
            width: auto;
            padding-left: 2em;
          }
          li {
            display: block;
            margin: 0;
            border: none;
            background: none;
            width: 100%;
            a {
              display: block;
              // @include aSetting_nocolor;
              color: #dad9d9;
              font-weight: normal;
              text-align: left;
              font-size: .938em;
              line-height: 1.5em;
              padding: .5em 0;
              background: none;
              @include screen('mobile') {
                padding: .3em .2em;
              }
              .en_title {
                font-size: .75rem;
              }
            }
          }
          //第三層關閉
          ul {
            display: none;
          }
        }
      }
    }
  }
}