.happiness {
  background: #fff url(../images/happiness/inner_bg.png) no-repeat center 0;
  @include screen('mobile') {
    background: none;
    padding: 5em 1em 0 1em;
  }
  .toptitle {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: normal;
    font-size: 1.7rem;
    @include screen('mobile') {
      position: relative;
      top: 0;
      border-bottom: 2px solid #984696;
      padding: 1rem 0;
      margin-bottom: 1rem;
      border-radius: 9px;
      background: #984696 url(../images/happiness/inner_bg.png) no-repeat center 0;
      margin: 15px;
      width: auto;
    }
    img {
      margin-bottom: 16px;
      @include screen('mobile') {
        display: none;
      }
    }
  }
  .function_panel {
    @include screen('mobile') {
      width: 100%;
      float: none;
      top: 0;
      padding: 0;
      margin: 0 15px 0 0;
      position: relative;
    }
  }
  .survey_info {
    padding: 36px 60px;
    background: #f2f2f2;
    border-radius: 10px;
    margin: 20px 0 36px 0;
    display: flex;
    color: #545454;
    .info_left {
      flex-basis: 65%;
      padding-right: 60px;
      .info_title {
        font-size: 1.125rem;
        font-weight: bold;
        margin-bottom: 24px;
      }
      .info_text {}
    }
    .info_right {
      flex-basis: 35%;
      .survey_fill {
        display: block;
        background: #7c1e77;
        border-radius: 5px;
        margin-bottom: 20px;
        color: #fff;
        font-size: 1.125rem;
        text-align: center;
        padding: 1rem;
        letter-spacing: 1px;
      }
      span {
        display: block;
        font-size: .875rem;
      }
    }
  }
}

.happiness_center {
  width: 63%;
  float: left;
  margin-right: 30px;
  @include screen('mobile') {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-top: 6px;
  }
  h3.title {
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
    color: #444;
  }
  .more {
    text-align: center;
    margin-top: 30px;
    a {
      display: inline-block;
      padding: 12px 30px;
      color: #fff;
      border-radius: 9px;
      background: #9c4694;
      font-size: 1.125rem;
      transition: all .5s;
      &:hover,
      &:focus {
        background: #00857C;
        color: #fff;
      }
      &:focus {
        outline: 2px solid $primaryColor;
      }
    }
  }
  .welcome {
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 99;
    .welcome_slogan {
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 100%;
      margin: 0 .5rem 1rem 0;
      color: #9c4694;
    }
    .welcome_alertblock {
      position: relative;
      .alerticon {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        &:before {
          content: "";
          width: 32px;
          height: 32px;
          display: block;
          background: url(../images/happiness/alert.png) no-repeat center center;
        }
        .number {
          width: 22px;
          height: 22px;
          display: block;
          border-radius: 50%;
          background: #fe3d63;
          position: absolute;
          right: -10px;
          top: -10px;
          text-align: center;
          color: #fff;
          font-weight: bold;
          border: 2px solid #fff;
        }
        &:focus {
          outline: 2px solid #984696;
        }
      }
      .alertlist {
        background: #fff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
        border-radius: 9px;
        border: 1px solid #c690c1;
        position: absolute;
        left: -30px;
        top: 50px;
        width: 300px;
        padding: .5rem 1rem;
        box-sizing: border-box;
        display: none;
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 15px 20px 15px;
          border-color: transparent transparent #fff transparent;
          position: absolute;
          top: -18px;
          left: 30px;
          z-index: 9;
        }
        &:after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 15px 20px 15px;
          border-color: transparent transparent #c690c1 transparent;
          position: absolute;
          top: -20px;
          left: 30px;
          z-index: 8;
        }
        ul {
          @include li-reset;
          li {
            padding: 10px 0;
            border-bottom: 1px dotted #a6a6a6;
            color: #4f4f4f;
            a {
              color: #4f4f4f;
              display: block;
              position: relative;
              .alert_text {
                color: #4f4f4f;
                position: relative;
                // &:before {
                //   content: "";
                //   width: 8px;
                //   height: 8px;
                //   display: block;
                //   border-right: 1px solid #555;
                //   border-bottom: 1px solid #555;
                //   position: absolute;
                //   right: 10px;
                //   top: 7px;
                //   transform: rotate(-45deg);
                // }
              }
              .alert_time {
                color: #be092d;
                font-size: .9375rem;
              }
              &:hover {
                text-decoration: underline;
              }
              &:focus {
                outline: 2px solid #984696;
              }
            }
          }
        }
        .more {
          text-align: right;
          margin-top: 8px;
          a {
            padding: 6px 12px;
            display: inline-block;
            background: #9c4694;
            color: #fff;
            border-radius: 7px;
            font-size: .875rem;
            transition: all .5s;
            &:hover,
            &:focus {
              background: #00857C;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .happiness_slider {
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 2rem;
    .slick-prev {
      left: 0;
      &:focus {
        border: 2px solid #984696;
        box-shadow: none;
      }
    }
    .slick-next {
      right: -1px;
      &:focus {
        border: 2px solid #984696;
        box-shadow: none;
      }
    }
    .pic {
      a {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        overflow: hidden;
        aspect-ratio:560/208;
        img {
          width: auto;
          max-height: 208px;
          max-width: 560px;
          margin-left: auto;
          margin-right: auto;
          
          @include screen('mobile') {
            // width: 100%;
          }
        }
      }
    }
  }
  .happiness_news {
    margin-bottom: 30px;
    ul {
      @include li-reset;
      li {
        padding: 12px 0;
        border-bottom: 1px solid #cdcdcd;
        font-size: .9375rem;
        display: flex;
        align-items: center;
        time {
          display: inline-block;
          margin: 0 12px 0 0;
          width: 80px;
          white-space: nowrap;
        }
        span.dep {
          color: #fff;
          padding: 8px;
          border-radius: 30px;
          margin: 0 12px 0 0;
          display: block;
          white-space: nowrap;
          &.color1 {
            background: #00857C;
          }
          &.color2 {
            background: #D11036;
          }
          &.color3 {
            background: #AC5834;
          }
        }
        .text {
          display: block;
          overflow: hidden;
          a {
            color: #444;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover,
            &:focus {
              color: #9c4694;
              text-decoration: underline;
              outline: 2px solid $primaryColor;
            }
          }
        }
      }
    }
  }
  .happiness_questionnaire {
    margin-bottom: 36px;
    .questionnaire_slogan {
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 16px;
    }
    ul {
      @include li-reset;
      display: flex;
      @include screen('mobile') {
        flex-direction: column;
      }
      li {
        display: flex;
        flex: 1 1 45%;
        @include screen('mobile') {
          margin-bottom: 10px;
        }
        a {
          color: #fff;
          background: #9c4694;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-self: stretch;
          width: 100%;
          padding: 32px 18px;
          margin-right: 8px;
          border-radius: 8px;
          transition: all .5s;
          &:hover,
          &:focus {
            color: #444;
            background: #ffbda1;
          }
          &:focus {
            outline: 2px solid #00857C;
          }
          @include screen('mobile') {
            margin-right: 0;
          }
          .questionnaire_text {
            font-size: 1.125rem;
            margin-bottom: 8px;
          }
          .questionnaire_more {
            text-align: right;
            &:after {
              content: "→";
              margin-left: 4px;
            }
          }
        }
        &:nth-child(2) a {
          background: #f8e8f6;
          color: #444;
          &:hover,
          &:focus {
            color: #fff;
            background: #9c4694;
          }
        }
        &:last-child {
          flex: 1 1 80px;
          margin-right: 0;
          a {
            background: #7f7f7f;
            &:hover,
            &:focus {
              background: #00857C;
              color: #fff;
            }
            &:focus {
              outline: 2px solid $primaryColor;
            }
            &:after {
              content: "";
              width: 30px;
              height: 14px;
              display: block;
              background: url("../images/happiness/arrow.png");
            }
          }
        }
      }
    }
  }
  .happiness_video {
    margin-bottom: 36px;
    .video {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .happiness_class {
    margin-bottom: 36px;
    .happiness_class_slider {
      .slick-next {
        right: -1px;
      }
      .slick-prev {
        left: 0;
      }
      .slick-list {
        margin: 0 -10px;
      }
      .class {
        padding: 0 10px;
        a {
          color: #444;
          .pic {
            margin-bottom: 10px;
            width: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
              transition: all .5s;
              transform: scale(1);
            }
          }
          .text {}
          &:hover,
          &:focus {
            color: #984696;
            text-decoration: underline;
            .pic {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}

.happiness_right {
  padding-top: 44px;
  overflow: hidden;
  @include screen('mobile') {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .happiness_quotes {
    background: #ffbda1;
    padding: 24px;
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 14px;
    .quotes_title {
      margin: 0;
      color: #9c4694;
      letter-spacing: 1px;
      margin-bottom: 12px;
      font-size: 1.125rem;
      &:before {
        content: "";
        width: 48px;
        height: 48px;
        display: inline-block;
        background: url(../images/happiness/sun.png) no-repeat center center;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    .slogan {
      font-size: 1.125rem;
      color: #000;
    }
  }
  .happiness_member {
    color: #fff;
    background: #f8e8f6;
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 14px;
    .member_top {
      padding: 24px;
      background: #9c4694;
      .score_title {
        margin: 0 0 8px 0;
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 12px;
        font-size: 1.25rem;
        font-weight: normal;
      }
      .member_division {
        margin-bottom: 12px;
        &:before {
          content: "";
          width: 18px;
          height: 18px;
          display: inline-block;
          background: url(../images/happiness/arrow3.png) no-repeat center center;
          margin-right: 5px;
          margin-top: -2px;
          vertical-align: middle;
        }
      }
      .member_state {
        color: #9c4694;
        background: #fff;
        padding: 8px;
        border-radius: 7px;
        text-align: center;
        font-size: 1.125rem;
        letter-spacing: 1px;
        font-weight: bold;
        margin-bottom: 12px;
      }
      .member_text {
        margin-bottom: .25rem;
        span {
          font-weight: bold;
          margin-right: 8px;
          display: block;
        }
      }
      .more {
        text-align: right;
        a {
          color: #9c4694;
          background: #f8e8f6;
          padding: 8px 1rem;
          border-radius: 7px;
          display: inline-block;
          transition: all .5s;
          &:hover,
          &:focus {
            background: #fff;
          }
          &:focus {
            outline: 2px solid #00857C;
          }
        }
      }
    }
    .member_bottom {
      padding: 24px;
      font-weight: bold;
      .score_title2 {
        color: #444;
        margin: 0 0 12px 0;
        span {
          color: #9c4694;
        }
      }
      .score {
        margin-bottom: 20px;
        font-size: 1.875rem;
        color: #444;
        span {
          color: #9c4694;
        }
      }
      .learning_time {
        color: #444;
        span {
          color: #9c4694;
          font-size: 1.875rem;
          margin-right: 4px;
          &:nth-child(2) {
            margin-left: 4px;
          }
        }
      }
      .more {
        text-align: right;
        a {
          color: #fff;
          background: #9c4694;
          padding: 8px 1rem;
          border-radius: 7px;
          transition: all .5s;
          display: inline-block;
          &:hover,
          &:focus {
            color: #fff;
            background: #00857C;
          }
          &:focus {
            outline: 2px solid #9c4694;
          }
        }
      }
    }
  }
  .happiness_track {
    padding: 24px;
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #eee;
    .track_title {
      color: #444;
      margin: 0 0 12px 0;
      font-size: 1.5rem;
    }
    ul {
      color: #444;
      @include li-reset;
      li {
        padding: 12px 0;
        border-bottom: 1px dotted #aeaeae;
        .lesson {
          margin-bottom: 4px;
          a {
            color: #444;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            &:hover,
            &:focus {
              color: #984696;
            }
            &:focus {
              outline: 2px solid #9c4694;
            }
          }
        }
        .lesson_date {
          text-align: right;
          color: #888;
        }
        .lesson_feedback {
          text-align: right;
          margin-top: 4px;
          a {
            padding: 6px 12px;
            display: inline-block;
            background: #9c4694;
            color: #fff;
            border-radius: 7px;
            font-size: .875rem;
            transition: all .5s;
            &:hover,
            &:focus {
              color: #fff;
              background: #00857C;
            }
            &:focus {
              outline: 2px solid #9c4694;
            }
          }
        }
      }
    }
    .more {
      text-align: center;
      margin-top: 12px;
      a {
        color: #fff;
        background: #9c4694;
        padding: 8px 1rem;
        border-radius: 7px;
        transition: all .5s;
        display: inline-block;
        &:hover,
        &:focus {
          color: #fff;
          background: #00857C;
        }
        &:focus {
          outline: 2px solid #9c4694;
        }
      }
    }
  }
  .happiness_link {
    margin-bottom: 2rem;
    .link_title {
      color: #444;
      margin: 0 0 12px 0;
      font-size: 1.5rem;
    }
    ul {
      @include li-reset;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 48%;
        margin-bottom: 12px;
        overflow: hidden;
        @include screen('mobile') {
          width: 32%;
        }
        a {
          padding: 30px 24px;
          display: flex;
          position: relative;
          align-items: center;
          border: 2px solid #fff;
          border-radius: 9px;
          overflow: hidden;
          &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 7;
            left: 0;
            background: rgba(0, 0, 0, .5);
          }
          &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 6;
            background-size: cover;
            transition: all .5s;
            background-position: center;
            transform: scale(1);
          }
          span {
            color: #fff;
            position: relative;
            z-index: 8;
            text-align: center;
          }
          &:hover,
          &:focus {
            &:after {
              transform: scale(1.2);
            }
          }
          &:focus {
            border: 2px solid #984696;
          }
        }
        &:nth-child(1) a:after {
          background: url(../images/happiness/banner1.jpg) no-repeat center center;
          background-size: cover;
        }
        &:nth-child(2) a:after {
          background: url(../images/happiness/banner2.jpg) no-repeat center center;
          background-size: cover;
        }
        &:nth-child(3) a:after {
          background: url(../images/happiness/banner3.jpg) no-repeat center center;
          background-size: cover;
        }
        &:nth-child(4) a:after {
          background: url(../images/happiness/banner4.jpg) no-repeat center center;
          background-size: cover;
        }
        &:nth-child(5) a:after {
          background: url(../images/happiness/banner5.jpg) no-repeat center center;
          background-size: cover;
        }
        &:nth-child(6) a:after {
          background: url(../images/happiness/banner6.jpg) no-repeat center center;
          background-size: cover;
        }
      }
    }
    .more {
      text-align: center;
      margin-top: 8px;
      a {
        color: #fff;
        background: #9c4694;
        padding: 8px 1rem;
        border-radius: 7px;
        transition: all .5s;
        display: inline-block;
        &:hover,
        &:focus {
          color: #fff;
          background: #00857C;
        }
      }
    }
  }
}

.happiness_hospital {
  .hospital_filter {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    a {
      padding: 12px 30px;
      color: #fff;
      background: #666;
      text-align: center;
      display: block;
      border-radius: 5px;
      margin: 0 3px;
      font-weight: bold;
      transition: .5s all;
      &.active,
      &:hover,
      &:focus {
        background: rgb(137, 48, 132);
        background: linear-gradient(160deg, rgba(137, 48, 132, 1) 40%, rgba(174, 98, 170, 1) 100%);
      }
    }
  }
  .hospital_search {
    display: flex;
    justify-content: center;
    color: #545454;
    background: #f2f2f2;
    padding: 18px 50px;
    border-radius: 50px;
    margin-bottom: 36px;
    select {
      width: 100%;
      margin-bottom: 0;
      // line-height: 2.5em;
      // height: 2.5em;
    }
    input {
      margin-bottom: 0;
      padding: 0.45rem 0.5rem;
    }
    >div {
      padding: 0 4px;
    }
    .search_county {}
    .search_town {}
    .search_text {
      flex-grow: 1;
      flex-basis: auto;
    }
    .search_input {
      input {
        border: 0;
        padding: 0.48rem 2rem !important;
      }
    }
  }
  .hospital_list {
    ul {
      @include li-reset;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      li {
        width: 32%;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 16px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        @include screen('tablet') {
          width: 49%;
        }
        @include screen('mobile') {
          width: 100%;
        }
        &:last-child:nth-child(3n - 1) {
          margin-right: calc(32% + 4% / 2);
        }
        &:last-child:nth-child(3n - 2) {
          margin-right: calc(64% + 8% / 2);
        }
        .hospital_pic {
          width: 100%;
          @include aspect-ratio(4,
            3);
          margin-bottom: 8px;
          .hospital_category {
            position: absolute;
            right: 0;
            top: 0;
            background: #5e529d;
            display: block;
            padding: 8px 12px;
            color: #fff;
            font-size: .875rem;
            z-index: 9;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .3s ease-out;
          }
        }
        .hospital_info {
          .hospital_name {
            color: #262626;
            font-weight: bold;
            font-size: 1.125rem;
            margin-bottom: 12px;
          }
          p {
            font-size: .875rem;
            color: #444;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-bottom: 20px;
            em {
              font-style: normal;
              color: #ff5173;
            }
          }
          .hospital_more {
            text-align: center;
            overflow: hidden;
            a {
              font-size: .875rem;
              padding: 6px 30px;
              color: #fff;
              background: #666;
              display: inline-block;
              transition: .5s all;
              &:hover,
              &:focus {
                background: #984696;
              }
            }
          }
        }
      }
    }
  }
}

.happiness_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
  @include screen('mobile') {
    flex-direction: column;
  }
  .update {
    text-align: right;
    font-style: normal;
    font-size: .9375rem;
    span {}
  }
  .happiness_pic {
    width: 46%;
    text-align: center;
    color: #444;
    @include screen('mobile') {
      width: 100%;
      margin-bottom: 1rem;
    }
    .imgOuter {
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 1rem;
      &:before {
        display: inline-block;
        content: "";
        padding-top: 75%;
      }
      img {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
    p {
      font-size: 1.125rem;
    }
    .hospital_more {
      a {
        padding: .8rem;
        display: inline-block;
        background: #7c1e77;
        color: #fff;
        font-size: 1.125rem;
        min-width: 70%;
        border-radius: 9px;
        margin-bottom: .5rem;
        transition: .5s all;
        white-space: nowrap;
        &:hover,
        &:focus {
          background: #00857C;
        }
      }
      span {
        display: block;
        font-size: .875rem;
      }
    }
  }
  .hospital_info {
    width: 50%;
    margin-bottom: 2rem;
    @include screen('mobile') {
      width: 100%;
    }
    .hospital_category {
      background: #5e529d;
      display: inline-block;
      padding: 8px 12px;
      color: #fff;
      font-size: .875rem;
      margin-bottom: 20px;
    }
    .hospital_name {
      font-size: 1.375rem;
      color: #262626;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    ul {
      @include li-reset;
      color: #545454;
      li {
        margin-bottom: 8px;
        span {
          font-weight: bold;
        }
        a {
          color: #7c1e77;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .content_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 2rem;
    .title_2 {
      width: 100%;
      text-align: center;
      font-size: 1.125rem;
      color: #262626;
      position: relative;
      padding-bottom: 12px;
      &:before {
        content: "";
        width: 9rem;
        height: 4px;
        background: #7c1e77;
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -4.5rem;
      }
    }
    .update {
      position: absolute;
      right: 0;
      top: 18px;
      @include screen('mobile') {
        position: relative;
        top: auto;
        margin-bottom: 10px;
        text-align: center;
        display: block;
        width: 100%;
      }
    }
    .block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px 40px;
      background: #f2f2f2;
      color: #444;
      dl {
        width: 48%;
        padding-left: 40px;
        position: relative;
        box-sizing: border-box;
        margin: 10px 0;
        @include screen('mobile') {
          width: 100%;
        }
        &::before {
          content: "";
          width: 21px;
          height: 21px;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          background: url(../images/happiness/arrow4.png) no-repeat 0 0;
        }
        dt {
          display: block;
          margin-bottom: 8px;
          font-weight: bold;
          box-sizing: border-box;
        }
        dd {
          display: block;
          margin: 0;
          padding: 0;
          margin-bottom: 4px;
          span {}
        }
      }
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include li-reset;
        li {
          width: 48%;
          margin-bottom: 8px;
          background: url(../images/happiness/arrow4.png) no-repeat 0 0;
          padding-left: 40px;
          box-sizing: border-box;
          @include screen('mobile') {
            width: 100%;
          }
          a {}
        }
      }
    }
  }
  .result_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .result_title {
      width: 100%;
      text-align: center;
      font-size: 1.375rem;
      color: #262626;
      padding-top: 14px;
      border-top: 2px solid #9d4694;
      position: relative;
      margin-top: 100px;
      margin-bottom: 40px;
      &:before {
        content: "";
        width: 76px;
        height: 71px;
        display: block;
        background: url(../images/happiness/people.png) no-repeat 0 0;
        position: absolute;
        left: 50%;
        bottom: 50px;
        margin-left: -38px;
      }
    }
    .result_time {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: 1.125rem;
      color: #595959;
      margin-bottom: 10px;
      @include screen('mobile') {
        flex-direction: column;
        font-size: .9375rem;
        text-align: center;
      }
      span {}
    }
    .happyChart {
      width: 48%;
      box-shadow: 0 0 5px rgba(0, 0, 0, .2);
      margin-bottom: 2rem;
      border-radius: 5px;
      @include screen('mobile') {
        width: 100%;
      }
      &.happyChart1 {
        padding-top: 60px;
        background: url(../images/happiness/star.png) no-repeat center 10px;
      }
      &.happyChart2 {
        padding-top: 60px;
        @include screen('mobile') {
          padding-top: 0;
        }
      }
      .chart {}
    }
  }
}

.member_resume {
  padding-top: 2rem;
  .memberTab {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    a {
      padding: 0.8rem 1.5rem;
      margin: 0 4px;
      display: block;
      border-radius: 5px;
      color: #444;
      font-weight: bold;
      font-size: 1.125rem;
      @include screen('mobile') {
        padding: 0.8rem .5rem;
        font-size: 1rem;
        text-align: center;
        margin: 0;
      }
      &.active {
        color: #fff;
        background: #984696;
      }
      &:hover,
      &:focus {
        background: #ddd;
      }
    }
  }
  .memberTab_content {
    padding: 2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    @include screen('mobile') {
      padding: 1rem;
    }
    blockquote {
      background: #f2f2f2;
      font-style: normal;
      display: block;
      font-size: 1em;
      line-height: 2em;
      border-left: 5px solid $primaryColor;
      padding: 20px 32px 10px 32px;
      box-sizing: border-box;
      margin: 0 0 2em 0;
      @include screen('mobile') {
        padding: 20px 16px 10px 16px;
      }
      p {
        margin: 0 0 .5em 0;
      }
      ul {
        margin-top: 0;
      }
      // h3 {
      //   font-size: 1.25rem;
      //   color: #984696;
      //   font-weight: bold;
      // }
    }
    h3 {
      color: #984696;
      display: flex;
      justify-content: flex-start;
      &:before {
        content: "";
        width: 8px;
        height: 100&;
        display: block;
        border-radius: 10px;
        margin-right: 8px;
        background: linear-gradient(to bottom, #ab52a8, #873783);
        color: #fff;
      }
    }
    .form_block {
      .form_grp {
        .form_title {}
        .form_content {
          &.form_inline {
            display: flex;
            align-items: center;
            @include screen('mobile') {
              flex-direction: column;
            }
            input {
              width: auto;
              @include screen('mobile') {
                width: 100%;
              }
            }
            input[type="button"] {
              margin-left: 8px;
            }
            span {
              margin: 0 4px;
            }
            span.check {
              margin: 0 10px;
              display: flex;
              font-weight: bold;
              color: #20b198;
              @include screen('mobile') {
                margin: 10px;
              }
              &:before {
                content: "";
                width: 24px;
                height: 24px;
                display: block;
                background: url(../images/happiness/check.png) no-repeat 0 0;
                background-size: 24px;
                margin-right: 4px;
              }
            }
          }
        }
      }
      .certificate_accordion {
        // 1st
        ul {
          @include li-reset;
          >li {
            border: 1px solid #ccc;
            background: #f2f2f2;
            margin-bottom: 10px;
            border-radius: 10px;
            a {
              padding: 1rem;
              display: flex;
              width: 100%;
              box-sizing: border-box;
              align-items: center;
              position: relative;
              &:before {
                content: "";
                width: 8px;
                height: 8px;
                display: block;
                background: #873783;
                border-radius: 50%;
                margin-right: 8px;
              }
              &:after {
                content: "";
                width: 32px;
                height: 32px;
                display: block;
                background: url(../images/happiness/arrow5.png) no-repeat 0 0;
                background-size: 32px;
                position: absolute;
                right: 10px;
                top: 12px;
              }
            }
            .certificate_accordion_content {
              padding: 1rem 2rem;
              background: #fff;
              border-radius: 0 0 10px 10px;
              border-top: 1px solid #ccc;
              .certificate_info {
                >ul.certificate {
                  @include li-reset;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  li {
                    width: 48%;
                    margin-bottom: 10px;
                    border-radius: 0;
                    border: 0;
                    border-bottom: 1px solid #ccc;
                    padding: 0 4px 10px 4px;
                    background: transparent;
                    span {
                      display: block;
                      font-weight: bold;
                      color: #444;
                      margin-top: 4px;
                    }
                  }
                }
              }
              .certificate_history {
                padding: 4px;
                dl {
                  dt {
                    font-weight: bold;
                    color: #444;
                    margin-bottom: 8px;
                    span {
                      color: #873783;
                      margin-left: 10px;
                    }
                  }
                  dd {
                    margin: 0 0 8px 0;
                    padding-left: 16px;
                    position: relative;
                    &:before {
                      content: "";
                      width: 4px;
                      height: 4px;
                      display: block;
                      margin-right: 8px;
                      background: #444;
                      border-radius: 50%;
                      position: absolute;
                      left: 4px;
                      top: 6px;
                    }
                    span {
                      font-weight: bold;
                      margin-right: 8px;
                    }
                    time {
                      margin-right: 8px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .pointTable {
        table tr td:last-child {
          color: #984696;
          font-weight: bold;
          text-align: center;
        }
      }
      input.buttonCheck {
        background: #f8e8f6;
        color: #444;
        border: 1px solid #f8e8f6;
        &:hover,
        &:focus {
          color: #fff;
          background: #984696;
          border: 1px solid #984696;
        }
      }
      .totalBlock {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        @include screen('mobile') {
          flex-direction: column;
          margin-bottom: 10px;
        }
        >div {
          background: #f8e8f6;
          color: #444;
          text-align: center;
          padding: 1.5rem 2rem 2rem 2rem;
          margin: .5rem;
          border-radius: 5px;
          span {
            font-weight: bold;
            color: #9c4694;
            font-size: 2rem;
            display: block;
            margin-top: 8px;
          }
        }
      }
    }
  }
}