body {
    background: #dedcdd;
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
.wrapper {
    // width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    @include screen('mobile') {
        background: #FFF;
        overflow:hidden;
        overflow-y: auto;
    }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}

.main {
    position: relative;
    margin: 0 auto;
    padding: 0; // max-width: $container-max;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('mobile') {
        padding-top: 55px;
    } // 內頁標題設定
    h2 {
        line-height: 1.25em;
        margin: .4em 0;
        font-size: 1.5em;
        .entitle{
            font-size: .9375rem;
            color: #888;
            line-height: 140%;
            display: block;
            margin-top: 4px;
        }
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    padding: 280px 3em 3em 3em;
    background:#fff url(../images/inner_bg.png) no-repeat center top;
    @include screen('mobile') {
        background: none;
        padding: 5em 1em 0 1em;
    }
    >.container {
        @include gutter(); //gutter 代表左右要留白
    }
}

.loding-wrp{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(240,190,255,0.85);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index: 9999;
    color: $secondaryColor;
    font-weight: bold;
    img{
        margin-bottom: 10px;
    }
}